.App {
  padding: 0px 130px
}

.row {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.output {
  margin-top: 10px;
  background-color: #efefef;
  padding: 20px;
  border-radius: 4px;
}

.configuration {
  height: 700px;
  overflow: scroll;
  margin-top: 10px;
  background-color: #333333;
  color: #ffffff;
  font-weight: bold;
  padding: 20px;
  border-radius: 4px;
}
